# **Data Types and Structures Questions**
1.What are data structures, and why are they important?

-->Data structures are list,string,tuple,dictionary,array,stack,queue and some other .Data sructures are important for organising and storing data which can be further accessed and manipulated effictiently.

2.Explain the difference between mutable and immutable data types with examples?

-->Mutable data types-can be further modified once defined.
 Immutalbe data types-cannot be further modified once defined.
 example:list is a mutable data type l=[1,"ram",3.4]
 l.append(55),here the 55 element will be appended to the list l whereas if we defined immutable data type like tuple t=(1,"ram",3.4)
  t.appen(55) , it gives error beacuse we don't have any built-in functions for modifying the elements in immutable data types.

3.What are the main differences between lists and tuples in Python?

 -->lists - mutable,elements are in '[]',slower compared to tuples,built-in funtions for modifying ,does not ensures security.

 tupels - immutable,elements are in '()',faster compared to lists no built-in funtions for modifying ,ensures security.

4.Describe how dictionaries store data?

-->Dictionaries store data in the form of key,value pairs where key's act as indexes that means with the help of key we can access or modify values,keys are unique that means no duplicates in key's are allowed.example:dict={"name":"ram","age":21,"salary":100000} ,elements are enclosed in '{ }'

5.Why might you use a set instead of a list in Python?

-->we use sets when we don't need any duplicate values and only unique values are required.

6.What is a string in Python, and how is it different from a list?

-->string is a sequence of characters,it is different from a list beacuase string is immutable where as list is mutable.

7.How do tuples ensure data integrity in Python?

-->Tuples ensure data integrity in Python by providing mechanism called "Immutablility".

8.What is a hash table, and how does it relate to dictionaries in Python?

-->hash table is a data structure with stores key-value pairs,and dictionaries are using tables internally

9.Can lists contain different data types in Python?

--> yes Lists contain different data types in python which allows heterogeneous data to be stored and also manipulated and also allows accessing the data in a easier way Example : L=[1,"3.6","ram"]

10.Explain why strings are immutable in Python?

-->making sure the data is secure and also encrypted and memory effictient.

11.What advantages do dictionaries offer over lists for certain tasks?

-->Dictionary provides faster lookups that is O(1)complexity whereas lists provide O(N) complexity and the key values should be unique whereas the elements in the lists can be duplicates but if dictionary does not provide any duplicates ensuring the unique elements.

12.Describe a scenario where using a tuple would be preferable over a list?

--> The scenario where using would be preferable over lists When a person's age will be changed for each yearthe elements can be considered in the lists whereas a person's Aadhar card number will not be changed for the lifetime so it will be taken in the tuple and also the other example would be pi value which is universal and cannot be changed by anyone it will be considered in the tuple

13.H0w do sets handle duplicate values in Python?

--> Set users a hash table to store the values when a new element is added then its checks if the element is existed or not if it does not exist then it adds and if it exists then it doesn't.

14.How does the “in” keyword work differently for lists and dictionaries?

-->IN lists keyword "in" Means it searches the value in linear search where as dictionaries uses faster lookups using hash tables which only checks the keys and returns if an value is found

15. Can you modify the elements of a tuple? Explain why or why not?

--> No we cannot modify the elements of a tuple Because the elements in tuple are immutable if we even try to add or remove the elements that is modify the elements it gives error if we wanted to change the elements we can do it indirectly by changing the elements of tuple to lists and then modify it

16.What is a nested dictionary, and give an example of its use case?

--> Nested dictionary means a key has internal dictionary within that it is used in the many applications like for example if we take a restaurant where dish1 Contains name , Cost ,about the dish and  reviews, dish2 contains name cost and so on we take dish1 as a key in which there is an internal dictionary that is nested dictionary which contains the information about the dish1like wise nested dictionary's work in many applications.

17Describe the time complexity of accessing elements in a dictionary?

--> O(1) Because we use hash tables for storing the elements in dictionaries which gives faster lookups.

18.In what situations are lists preferred over dictionaries?

--> List preferred over dictionaries when dealing with duplicate values irrespective of time complexity. Also the elements in lists are ordered that means we can access the elements in lists by using index values whereas dictionaries we can access the elements using key's.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?

--> Dictionary is considered as an ordered because the elements that is the keys should not be duplicates and only unique keys. So we cannot access the elements using index values instead we can only access the elements by using keys.

20.Explain the difference between a list and a dictionary in terms of data retrieval?

--> The elements in lists are accessed using index values because the elements in lists are ordered and also it does allow duplicates whereas the dictionary is elements are accessed using keys Because the elements in dictionaries are unordered and also it does not allow any duplicate case as it uses hash tables for storing if a new key entered then it checks the Hash table if the key is new then it adds to the dictionary that is the hash table if it is duplicate it simply ignores.

In [4]:
#Data Types and Structures Questions
#1.Write a code to create a string with your name and print it
my_name="Razia"
print(my_name)

Razia

In [7]:
#2.Write a code to find the length of the string "Hello World"P
s="Hello world"
c=0
for i in s:
  c=c+1
print(c)

11

In [9]:
#3.Write a code to slice the first 3 characters from the string "Python Programming"
str="Python Programming"
str[3:]

'hon Programming'

In [11]:
#4.Write a code to convert the string "hello" to uppercase
s="hello"
s.upper()

'HELLO'

In [15]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple"
s="I like apple"
s.replace("apple","orange")

'I like orange'

In [18]:
#6.Write a code to create a list with numbers 1 to 5 and print it
l=[]
for i in range(1,6):
  l.append(i)
print(l)

[1, 2, 3, 4, 5]

In [21]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4]
l=[1,2,3,4,5]
l.append(10)
l

[1, 2, 3, 4, 5, 10]

In [24]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
l=[1,2,3,4,5]
l.remove(3)
l

[1, 2, 4, 5]

In [25]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']
l=['a','b','c','d']
l[1]

'b'

In [27]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50]
l=[10,20,30,40,50]
l[::-1]

[50, 40, 30, 20, 10]

In [29]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it
ty=(100,200,300)
ty

(100, 200, 300)

In [33]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tup=('red','green','blue','yellow')
print(tup[1:])

('green', 'blue', 'yellow')

In [36]:
#13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).
from functools import reduce
min1=(10,20,5,15)
reduce(lambda x,y:y if x>y else x,min1)

5

In [38]:
#14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tup=('dog', 'cat', 'rabbit')
tup.index('cat')

1

In [40]:
#15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
tup=('orange','kiwi','apple')
'kiwi' in tup

True

In [42]:
#16.write a code to create a set with the elements 'a', 'b', 'c' and print it.
s1={'a','b','c'}
s1

{'a', 'b', 'c'}

In [45]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s1={1,2,3,4,5}
s1.clear()
print(s1)

set()

In [46]:
#18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s1={1,2,3,4}
s1.remove(4)
s1

{1, 2, 3}

In [49]:
#19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1={1,2,3}
s2={3,4,5}
print(s1|s2)

{1, 2, 3, 4, 5}

In [51]:
#20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
s1={1,2,3}
s2={3,4,5}
print(s1&s2)

{3}

In [52]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dic1={"name":"Razia","age":21,"city":"Hyderabad"}
dic1

{'name': 'Razia', 'age': 21, 'city': 'Hyderabad'}

In [56]:
#22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
di1={'name': 'John', 'age': 25}
di1["country"]="USA"
di1

{'name': 'John', 'age': 25, 'country': 'USA'}

In [60]:
#23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
di2={'name': 'Alice', 'age': 30}
di2["name"]

'Alice'

In [63]:
#24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dic3={'name': 'Bob', 'age': 22, 'city': 'New York'}
dic3.pop("age")
dic3

{'name': 'Bob', 'city': 'New York'}

In [64]:
#25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dic4={'name': 'Alice', 'city': 'Paris'}
"city" in dic4

True

In [65]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
l1=[1,2,3]
t1=(1,2,3)
d1={"name":"Razia","age":21}
print(l1,t1,d1)

[1, 2, 3] (1, 2, 3) {'name': 'Razia', 'age': 21}

In [67]:
#27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
l1=[]
for i in range(5):
  l1.append(random.randint(1,100))
l1.sort()
print(l1)

[7, 32, 38, 39, 86]

In [68]:
#28.Write a code to create a list with strings and print the element at the third index
l2=["razia","sk","muskan"]
l2[2]

'muskan'

In [69]:
#29. Write a code to combine two dictionaries into one and print the result.
dic1={"name":"razia","age":21}
dic2={"city":"Hyderabad","country":"India"}
dic1.update(dic2)
dic1

{'name': 'razia', 'age': 21, 'city': 'Hyderabad', 'country': 'India'}

In [70]:
#30.Write a code to convert a list of strings into a set.
l1=["razia","muskan","sk"]
set(l1)

{'muskan', 'razia', 'sk'}